<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.UserManageDao">
	<!--<resultMap id="BaseResultMap" type="org.spring.springboot.domain.UserEntity">-->
		<!--<result column="id" property="id" />-->
		<!--<result column="province_id" property="provinceId" />-->
		<!--<result column="city_name" property="cityName" />-->
		<!--<result column="description" property="description" />-->
	<!--</resultMap>-->

    <!--<resultMap id="UserInfoMap" type="org.spring.springboot.domain.UserEntity.UserBasicInfo">-->
        <!--<result column="user_name" property="userName" />-->
        <!--<result column="user_passwd" property="userPasswd" />-->
    <!--</resultMap>-->


	<!--<sql id="Base_Column_List">-->
		<!--id, province_id, city_name, description-->
	<!--</sql>-->

	<!--<select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">-->
		<!--select-->
		<!--<include refid="Base_Column_List" />-->
		<!--from city-->
		<!--where city_name = #{cityName}-->
	<!--</select>-->

	<!--<select id="findBasicInfoByUserName" resultMap="java.util.HashMap">-->
		<!--select * from tb_user-->
	<!--</select>-->

    <select id="findBasicInfoByUserName2" resultType="java.util.HashMap">
		select  from user_info
	</select>

	<insert id="insertNewUserInfo" parameterType="java.lang.String">
		insert into user_info values(#{userName},#{userPasswd})
	</insert>

	<select id="loadAllUserInfo" resultType="java.util.HashMap">
		select  user_name as userName,user_passwd as userPasswd,user_nickname as userNickName,
		    user_role as userRole,user_depart as userDepart,update_time as updateTime,create_time as createTime
	    from user_info
	</select>

	<select id="loadAllUserInfo8" resultType="java.util.HashMap">
		select * from tb_user
	</select>

	<insert id="addNewUserInfo8"  useGeneratedKeys="true" keyProperty="userId">
		insert into tb_user values(#{userName},#{userPasswd})
		<selectKey resultType="java.lang.Integer" keyProperty="id" >
			SELECT @@IDENTITY AS ID
		</selectKey>
	</insert>

	<insert id="addNewEmployeeInfo8" parameterType="org.spring.springboot.domain.EmployeeEntity"  useGeneratedKeys="true" keyProperty="employeeInfo.userId">
		insert into tb_employee_info(user_id,name,status)
  			  values (#{employeeInfo.userId,jdbcType=BIGINT}, #{employeeInfo.userName,jdbcType=CHAR}, #{employeeInfo.status,jdbcType=TINYINT})
	</insert>

    <!--<select id="findBasicInfoByUserName3" resultMap="UserInfoMap">-->
		<!--select * from tb_user-->
	<!--</select>-->


</mapper>
